<nav class="header__nav navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="header__nameplate navbar-brand" href="#">The Chronicle of Higher Education</a>
  </div>

  <div class="collapse navbar-collapse">
    <form class="navbar-form navbar-right" role="search">
      <a class="header__subscribe btn btn-info navbar-right">Subscribe Now</a>
    </form>
    <ul class="nav navbar-nav">
      <li><a href="#">News</a></li>
      <li><a href="#">Opinion</a></li>
    </ul>
  </div>
</nav>