@import 'variables.less';
@import 'mixins.less';

/*
  Each row is .content-box
*/
.content-box {
  .make-row(0);
  border: 1px solid #ddd;
  margin: (@grid-gutter-width / 2) 0;
}

/*
  Each .content-box has a .main-body and .right-rail by default. 

  These are both set up to be to the left and right really shouldn't exist without each
  other, since it's a 9-3 layout. Both get a clearfix to handle any silliness when they
  get down to the smallest sizes.
*/
.main-body {
  .clearfix();
  .make-md-column(9,0);
  color: black;
  height: 360px;
}
/*
  .right-rail has more going on. 

  To make the right rail work at smaller sizes, I divided the "content" in half. This will require some planning to make sure right rail widgets fit correctly, but this makes the right rail work at all sizes.

  At xs, md, and lg, the rail widgets tile on top of each other. 
  At sm, they are side-by-side.
*/
.right-rail {
  .clearfix();
  color: black;
  height: 180px;

  @media (min-width: @screen-md) {
    .make-md-column(3,0);
    height: 360px;
  }

  &__box {
    .make-sm-column(6);
    .make-md-column(12);
    border: 1px solid #000;
    height: 100%;

    @media (min-width: @screen-md) {
      height: 50%;
    }
  }
}

/*
  Widget Boxes

  Where the content goes.

  2 x 2: big box
  1 x 2: tall
  2 x 1: wide
  1 x.5: small and wide
*/
.widget {
  border: 1px solid #000;
}
.two-by-two {
  .make-sm-column(8);
  .double;
  color: black;
}

.one-by-two {
  .make-sm-column(4);
  .double;
  color: black;
}

.two-by-one {
  .make-sm-column(8);
  .single;
  color: black;
}

.one-by-one {
  .make-sm-column(4);
  .single;
  color: black;
}

.one-by-half {
  .make-sm-column(4);
  .half;
  color: black;
}

/*
  Height Helpers

  These set the heights for the boxes. It would be neat to set these based on the 
  screen size, but not yet.
*/
.half() {
  height: 22%;
  margin-bottom: 3%;
}
.single() {
  height: 47%;
  margin-bottom: 3%;
}
.double() {
  height: 100%;
}