@import 'variables.less';
@import 'mixins.less';

.content-box {
  .make-row();
  border: 1px solid black;
}
.main-body {
  .clearfix();
  .make-md-column(9);
  background-color: orange;
  color: black;
}
.right-rail {
  .clearfix();
  background-color: purple;
  color: white;

  @media (min-width: @screen-md) {
    .make-md-column(3);
  }

  &__box {
    &--top, &--bottom {
      .make-sm-column(6);
      .single;
      background-color: lighten(purple, 10%);
    }

    @media (min-width: @screen-md) {
      &--top {
        .make-md-column(12);
        .single;
      }
      &--bottom {
        .make-md-column(12);
        .single;
      }
    }
  }
}

.two-by-two {
  .make-sm-column(8);
  .double;
  background-color: yellow;
  color: black;
}

.one-by-two {
  .make-sm-column(4);
  .double;
  background-color: red;
  color: white;
}

.two-by-one {
  .make-sm-column(8);
  .single;
  background-color: green;
  color: white;
}

.one-by-one {
  .make-sm-column(4);
  .single;
  background-color: blue;
  color: white;
}

.one-by-half {
  .make-sm-column(4);
  .half;
  background-color: gray;
  color: white;
}


.half {
  height: 75px;
  border: 1px solid white;
}
.single {
  height: 150px;
  border: 1px solid white;
}
.double {
  height: 300px;
  border: 1px solid white;
}

.row-xs-flex {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
}
@media (min-width: 768px) {
  .row-sm-flex {
    display: flex;
  }
}
@media (min-width: 992px) {
  .row-md-flex {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .row-lg-flex {
    display: flex;
  }
}