@import 'variables.less';
@import 'mixins.less';
@import 'nav.less';

/*
  Bootstrap style overrides. Recompiling bootstrap is not happening with these vars so they need
  to be done manually.
*/
@grid-gutter-width: 15px;
@brand-info: #3e5266;

@font-face {
  font-family: "Heuristica";
  src: url("http://chronicle.com/themes/che/fonts/heuristica-regular-webfont.woff");
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family: Heuristica, serif;
}

body {
  background-color: @gray-lighter;
}

.main-content-box {
  background-color: #fff;
  margin-top: 70px;
}
/*
  Each row is .content-box
*/
.content-box {
  .make-row();
  display: inline-block;
}

/*
  Each .content-box has a .main-body and .right-rail by default.

  These are both set up to be to the left and right really shouldn't exist without each
  other, since it's a 9-3 layout. Both get a clearfix to handle any silliness when they
  get down to the smallest sizes.
*/
.main-body {
  .clearfix();
  .make-md-column(6,0);
}

.sub-body {
  .clearfix();
  .make-md-column(2.5,0);
}
/*
  .right-rail has more going on.

  To make the right rail work at smaller sizes, I divided the "content" in half. This will require some planning to make sure right rail widgets fit correctly, but this makes the right rail work at all sizes.

  At xs, md, and lg, the rail widgets tile on top of each other.
  At sm, they are side-by-side.
*/
.right-rail {
  .make-sm-box(12,1);
  .clearfix();
  border: 1px solid #000;

  @media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
    margin-top: @grid-gutter-width;
  }

  @media (min-width: @screen-md) {
    .make-md-box(3.5,1);
  }

  &__box {
    .make-sm-box(6,1);

    @media (min-width: @screen-md) {
      .make-md-box(12,1);
    }
  }
}

/*
  Widget Boxes

  Where the content goes.

  2 x 2: big box
  1 x 2: tall
  2 x 1: wide
  1 x 1: regular box
  1 x 0.5: small and wide
*/
.make-sm-box(@w:2,@h:1) {
  .make-sm-column(@w*6);
  color: black;
  &>div {
    height: @h * 200px;
  }
}
.make-md-box(@w:4,@h:2) {
  .make-md-column(@w);
  color: black;
  &>div {
    height: @h * 200px;
  }
}

.full-two {
  .make-sm-box(2,2);
}

.half-two {
  .make-sm-box(1,2);
}

.full-one {
  .make-sm-box(2,1);
}

.half-one {
  .make-sm-box(1,1);
}

.half-half {
  .make-sm-box(1,0.5);
}


.widget__container {
  padding: @padding-small-vertical @padding-small-horizontal;
  border: 1px solid #000;

  .full-two>&, .full-one>& {
    @media (max-width: @screen-sm-max) {
      height: auto !important;
    }
  }
}

.widget__container, .right-rail__box {
  @media (max-width: @screen-sm-max) {
    margin-top: @grid-gutter-width;
  }

  @media (max-width: @screen-xs-max) {
    height: auto !important;
  }
}

.top>.widget__container {
  @media (min-width: @screen-md) {
    height: 185px;
    margin-bottom: @grid-gutter-width;
  }
}