h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
p {
  margin: 0 0 10px;
}
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}
small,
.small {
  font-size: 85%;
}
cite {
  font-style: normal;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-muted {
  color: #999999;
}
.text-primary {
  color: #428bca;
}
a.text-primary:hover {
  color: #3071a9;
}
.text-success {
  color: #3c763d;
}
a.text-success:hover {
  color: #2b542c;
}
.text-info {
  color: #31708f;
}
a.text-info:hover {
  color: #245269;
}
.text-warning {
  color: #8a6d3b;
}
a.text-warning:hover {
  color: #66512c;
}
.text-danger {
  color: #a94442;
}
a.text-danger:hover {
  color: #843534;
}
.bg-primary {
  color: #fff;
  background-color: #428bca;
}
a.bg-primary:hover {
  background-color: #3071a9;
}
.bg-success {
  background-color: #dff0d8;
}
a.bg-success:hover {
  background-color: #c1e2b3;
}
.bg-info {
  background-color: #d9edf7;
}
a.bg-info:hover {
  background-color: #afd9ee;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover {
  background-color: #f7ecb5;
}
.bg-danger {
  background-color: #f2dede;
}
a.bg-danger:hover {
  background-color: #e4b9b9;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.list-inline > li:first-child {
  padding-left: 0;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 1.428571429;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eeeeee;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.428571429;
  color: #999999;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
  text-align: right;
}
.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
  content: '';
}
.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}
blockquote:before,
blockquote:after {
  content: "";
}
address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.428571429;
}
/*
  Widget Boxes

  Where the content goes.

  2 x 2: big box
  1 x 2: tall
  2 x 1: wide
  1 x 1: regular box
  1 x 0.5: small and wide
*/
.full-two {
  position: relative;
  min-height: 1px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  color: black;
}
@media (min-width: 768px) {
  .full-two {
    float: left;
    width: 100%;
  }
}
.full-two > div {
  height: 400px;
}
.half-two {
  position: relative;
  min-height: 1px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  color: black;
}
@media (min-width: 768px) {
  .half-two {
    float: left;
    width: 50%;
  }
}
.half-two > div {
  height: 400px;
}
@media (max-width: 991px) {
  .half-two > div {
    height: 415px;
  }
}
.full-one {
  position: relative;
  min-height: 1px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  color: black;
}
@media (min-width: 768px) {
  .full-one {
    float: left;
    width: 100%;
  }
}
.full-one > div {
  height: 200px;
}
.half-one {
  position: relative;
  min-height: 1px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  color: black;
}
@media (min-width: 768px) {
  .half-one {
    float: left;
    width: 50%;
  }
}
.half-one > div {
  height: 200px;
}
.half-half {
  position: relative;
  min-height: 1px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  color: black;
}
@media (min-width: 768px) {
  .half-half {
    float: left;
    width: 50%;
  }
}
.half-half > div {
  height: 100px;
}
.header {
  -webkit-box-shadow: 0 5px 10px #555555;
  box-shadow: 0 5px 10px #555555;
}
.header__nameplate {
  font-family: Heuristica, serif;
  font-size: 18px;
  text-transform: uppercase;
}
.header__subscribe {
  color: #ffffff;
  background-color: #3e5266;
  border-color: #3e5266;
  margin: 6px 12px;
}
.header__subscribe:hover,
.header__subscribe:focus,
.header__subscribe:active,
.header__subscribe.active,
.open .dropdown-toggle.header__subscribe {
  color: #ffffff;
  background-color: #2f3e4d;
  border-color: #273340;
}
.header__subscribe:active,
.header__subscribe.active,
.open .dropdown-toggle.header__subscribe {
  background-image: none;
}
.header__subscribe.disabled,
.header__subscribe[disabled],
fieldset[disabled] .header__subscribe,
.header__subscribe.disabled:hover,
.header__subscribe[disabled]:hover,
fieldset[disabled] .header__subscribe:hover,
.header__subscribe.disabled:focus,
.header__subscribe[disabled]:focus,
fieldset[disabled] .header__subscribe:focus,
.header__subscribe.disabled:active,
.header__subscribe[disabled]:active,
fieldset[disabled] .header__subscribe:active,
.header__subscribe.disabled.active,
.header__subscribe[disabled].active,
fieldset[disabled] .header__subscribe.active {
  background-color: #3e5266;
  border-color: #3e5266;
}
.header__subscribe .badge {
  color: #3e5266;
  background-color: #ffffff;
}
.header__search {
  margin: 0 12px;
}
.nav > li > a {
  font-size: 12px;
  padding: 6px 12px;
}
@media (min-width: 768px) {
  .navbar-header {
    border-bottom: 1px solid #555555;
    display: block;
    width: 100%;
  }
}
.headroom--pinned {
  -webkit-animation-name: 'slideDown';
  animation-name: 'slideDown';
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.headroom--unpinned {
  -webkit-animation-name: 'slideUp';
  animation-name: 'slideUp';
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/*
  Bootstrap style overrides. Recompiling bootstrap is not happening with these vars so they need
  to be done manually.
*/
@font-face {
  font-family: "Heuristica";
  src: url("http://chronicle.com/themes/che/fonts/heuristica-regular-webfont.woff");
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Heuristica, serif;
}
.main-content-box {
  margin-top: 100px;
}
/*
  Each row is .content-box
*/
.content-box {
  margin-left: -7.5px;
  margin-right: -7.5px;
  display: inline-block;
  margin-top: 7.5px;
}
/*
  Each .content-box has a .main-body, a .sub-body and .right-rail by default.

  These are set up to be to the left, middle and right. The layout is 6-2.5-3.5. You can see the 3.5 in a media query in the right rail.
*/
.main-body {
  position: relative;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
}
.main-body:before,
.main-body:after {
  content: " ";
  display: table;
}
.main-body:after {
  clear: both;
}
@media (min-width: 992px) {
  .main-body {
    float: left;
    width: 50%;
  }
}
.sub-body {
  position: relative;
  min-height: 1px;
  padding-left: 1.875px;
  padding-right: 1.875px;
}
.sub-body:before,
.sub-body:after {
  content: " ";
  display: table;
}
.sub-body:after {
  clear: both;
}
@media (min-width: 992px) {
  .sub-body {
    float: left;
    width: 20.833333333333336%;
  }
}
/*
  .right-rail has more going on.

  To make the right rail work at smaller sizes, I divided the "content" in half. This will require some planning to make sure right rail widgets fit correctly, but this makes the right rail work at all sizes.

  At xs, md, and lg, the rail widgets tile on top of each other.
  At sm, they are side-by-side.
*/
.right-rail {
  position: relative;
  min-height: 1px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  color: black;
  background-color: #eeeeee;
}
@media (min-width: 768px) {
  .right-rail {
    float: left;
    width: 100%;
  }
}
.right-rail > div {
  height: 200px;
}
.right-rail:before,
.right-rail:after {
  content: " ";
  display: table;
}
.right-rail:after {
  clear: both;
}
@media (max-width: 991px) {
  .right-rail {
    margin: 15px 7.5px 0 7.5px;
  }
}
@media (min-width: 992px) {
  .right-rail {
    position: relative;
    min-height: 1px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}
@media (min-width: 992px) and (min-width: 992px) {
  .right-rail {
    float: left;
    width: 29.166666666666668%;
  }
}
.right-rail__box {
  position: relative;
  min-height: 1px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  color: black;
}
@media (min-width: 768px) {
  .right-rail__box {
    float: left;
    width: 50%;
  }
}
.right-rail__box > div {
  height: 200px;
}
@media (min-width: 992px) {
  .right-rail__box {
    position: relative;
    min-height: 1px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    color: black;
  }
  .right-rail__box > div {
    height: 200px;
  }
}
@media (min-width: 992px) and (min-width: 992px) {
  .right-rail__box {
    float: left;
    width: 100%;
  }
}
widget {
  display: block;
}
.widget__container {
  padding: 5px 10px;
  border: 1px solid #000;
}
@media (max-width: 991px) {
  .full-two > .widget__container,
  .full-one > .widget__container {
    height: auto !important;
  }
}
@media (max-width: 991px) {
  .widget__container,
  .right-rail__box {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  .widget__container,
  .right-rail__box {
    height: auto !important;
  }
}
@media (min-width: 992px) {
  .top > .widget__container {
    height: 192.5px;
    margin-bottom: 7.5px;
  }
}
